<table class="table table-striped mt-2" id="tableCliente" style="width: 100%">

    <thead>
        <tr>
            <th></th> <!-- Edit Button -->
            <th></th> <!-- Delete Button-->
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Localidade</th>
            <th>CRV</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>