@{
    Layout = "_Layout";
}

@if (TempData["SuccessMessage"] is not null)
{
    <input id="successMessage" value="@TempData["SuccessMessage"]" hidden />
}

@if (TempData["ErrorMessage"] is not null)
{
    <input id="errorMessage" value="@TempData["ErrorMessage"]" hidden />
}

<div class="card my-2 shadow-lg bg-body-tertiary rounded">
    <div class="card-header">
        <div class="row">
            <div class="col-6 col-md-6 align-items-center">
                <h1 class="fs-2 fw-normal">Coordenador Regional de Vendas</h1>
            </div>

            <div class="col-6 col-md-6 d-flex align-items-center justify-content-end">
                @if (_claimsHelper.UserHaveAccess(PermissionsType.CRV, PermissionValue.Create))
                {
                    <a class="btn btn-outline-primary" asp-action="" asp-controller="">Create CRV</a>
                }
            </div>
        </div>
    </div>
    <div class="card-body">


        <div class="row">
            <div class="col-12">
                <partial name="./Partial/_PartialTableCoordenadorRegional" />
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Views/CoordenadorRegional/Index.cshtml.js"></script>
}