<table class="table table-striped mt-2" id="tableServicos" style="width: 100%">

    <thead>
        <tr>
            <th></th> <!-- Edit Button -->
            <th></th> <!-- Delete Button-->
            <th>Cod.</th>
            <th>Unidade</th>
            <th>Descrição</th>
            <th>Horas</th>
            <th>Preço Por Hora - R$</th>
            <th>Preço Total - R$</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>