<table class="table table-striped mt-2" id="tableCrv" style="width: 100%">

    <thead>
        <tr>
            <th></th> <!-- Edit Button -->
            <th></th> <!-- Delete Button-->
            <th>Nome Completo</th>
            <th>Localidade</th>
            <th>Orçamentista</th>
            <th>Qnt. Clientes</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>