@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, main {
    font-family: "Poppins", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.nav-sidebar {
    background-color: #101B31;
    font-family: "Poppins", monospace;
    font-weight: 400;
    word-break: break-all;
    min-height: 100vh;
}

.nav-mobile {
    background-color: #101B31;
    font-family: "Poppins", monospace;
    font-weight: 400;
    word-break: break-all;
}

.nav-sidebar .nav-item .nav-link:hover{
    opacity: 0.7;
}

.navbar-nav .nav-item .nav-link:hover{
    opacity: 0.7;
}

.dropdown-navside {
    background-color: #101B31 !important;
    color: white;
}

.dropdown-navside .dropdown-item {
    color: white;
}

.dropdown-navside .dropdown-item:hover {
    opacity: 0.7;
}

.wrapper {
    min-height: 100vh;
}

.navbar-min-width {
    display: none !important;
    background-color: #101B31;
}

.footer {
    background-color: #101B31;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

@media only screen and (max-width: 767px) {
    .nav-sidebar{
        word-break: break-word;
    }
}