@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

<div class="container w-100 h-100 mt-5">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="text-danger">Access Denied! <b>[403]</b></h1>
        </div>
        <div class="col-12">
            <h2 class="text-danger">You don't have a access for the function/page, contact your Administrator for more details.</h2>
        </div>
    </div>
</div>