@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="width: 500px; height: 500px; border: 1px solid red">

    </div>

    <div style="width: 500px; height: 500px; border: 1px solid blue">
    </div>


    <div style="width: 500px; height: 500px; border: 1px solid blue">
    </div>
</div>
