@model ClienteViewModel

@{
    Layout = "_Layout";
}

<div class="card my-2 shadow-lg bg-body-tertiary rounded">
    <div class="card-header">
        <div class="row">
            <div class="col-6 col-md-6 align-items-center">
                <h1 class="fs-2 fw-normal">Edit Cliente</h1>
            </div>

            <div class="col-6 col-md-6 d-flex align-items-center justify-content-end">
                <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Cliente">Back Index</a>
            </div>
        </div>
    </div>
    <div class="card-body">

        <partial name="./Partial/_PartialFormEditCliente" model="@Model"/>

    </div>
</div>