@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/cliente.css" asp-append-version="true" />

@if (TempData["CreateSuccess"] is not null)
{
    <input id="messageSuccess" value="@TempData["CreateSuccess"]" hidden />
}

<div class="card my-2 shadow-lg bg-body-tertiary rounded">
    <div class="card-header">
        <div class="row">
            <div class="col-6 col-md-6 align-items-center">
                <h1 class="fs-2 fw-normal">Cliente</h1>
            </div>

            <div class="col-6 col-md-6 d-flex align-items-center justify-content-end">
                <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Cliente">Create Cliente</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        

        <div class="row">
            <div class="col-12">
                <partial name="./Partial/_PartialTableClientes" />
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Views/Cliente/Index.cshtml.js"></script>
}





